@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--www-tiffany-com-au-inter-light-14-font-weight),var(--www-tiffany-com-au-inter-semi-bold-24-font-weight),var(--www-tiffany-com-au-inter-semi-bold-14-font-weight),600,300,var(--www-tiffany-com-au-inter-semi-bold-23-81-font-weight),var(--www-tiffany-com-au-inter-regular-8-font-weight),400,var(--www-tiffany-com-au-inter-regular-14-font-weight),var(--www-tiffany-com-au-inter-regular-12-title-font-weight),var(--www-tiffany-com-au-inter-semi-bold-18-font-weight),var(--www-tiffany-com-au-inter-regular-12-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
