:root {
  --wwwamazoncomaunero: rgba(255, 255, 255, 1);
  --wwwamazoncomauziggurat: rgba(187, 211, 222, 1);
  --wwwamazoncomauwild-sand: rgba(246, 246, 246, 1);
  --wwwamazoncomautundora: rgba(77, 77, 77, 1);
  --wwwamazoncomaumine-shaft: rgba(51, 51, 51, 1);
  --wwwamazoncomaualto: rgba(221, 221, 221, 1);
  --wwwamazoncomauscience-blue: rgba(0, 102, 192, 1);
  --wwwamazoncomausilver: rgba(187, 187, 187, 1);
  --wwwamazoncomauronchi: rgba(240, 193, 75, 1);
  --wwwamazoncomausundance: rgba(203, 169, 87, 1);
  --wwwamazoncomaucod-gray: rgba(17, 17, 17, 1);
  --wwwamazoncomaugray: rgba(136, 136, 136, 1);
  --wwwtiffanycomaubermuda: rgba(129, 216, 208, 1);
  --wwwtiffanycomaublack: rgba(0, 0, 0, 1);
  --wwwtiffanycomaunero: rgba(255, 255, 255, 1);
  --wwwtiffanycomauthunder: rgba(35, 31, 32, 1);
  --wwwtiffanycomaualabaster: rgba(250, 250, 250, 1);
  --wwwtiffanycomausilver: rgba(204, 204, 204, 1);
  --wwwtiffanycomauboulder: rgba(118, 118, 118, 1);
  --wwwtiffanycomauwild-sand: rgba(245, 245, 245, 1);
  --www-amazon-com-au-inter-regular-16-2-font-family: "Inter", Helvetica;
  --www-amazon-com-au-inter-regular-16-2-font-weight: 400;
  --www-amazon-com-au-inter-regular-16-2-font-size: 16.203125px;
  --www-amazon-com-au-inter-regular-16-2-letter-spacing: 0px;
  --www-amazon-com-au-inter-regular-16-2-line-height: 21.34000015258789px;
  --www-amazon-com-au-inter-regular-16-2-font-style: normal;
  --www-amazon-com-au-inter-regular-11-98-font-family: "Inter", Helvetica;
  --www-amazon-com-au-inter-regular-11-98-font-weight: 400;
  --www-amazon-com-au-inter-regular-11-98-font-size: 11.984375px;
  --www-amazon-com-au-inter-regular-11-98-letter-spacing: 0px;
  --www-amazon-com-au-inter-regular-11-98-line-height: 19px;
  --www-amazon-com-au-inter-regular-11-98-font-style: normal;
  --www-amazon-com-au-inter-regular-15-8-font-family: "Inter", Helvetica;
  --www-amazon-com-au-inter-regular-15-8-font-weight: 400;
  --www-amazon-com-au-inter-regular-15-8-font-size: 15.8046875px;
  --www-amazon-com-au-inter-regular-15-8-letter-spacing: 0px;
  --www-amazon-com-au-inter-regular-15-8-line-height: 21.34000015258789px;
  --www-amazon-com-au-inter-regular-15-8-font-style: normal;
  --www-amazon-com-au-inter-bold-12-39-font-family: "Inter", Helvetica;
  --www-amazon-com-au-inter-bold-12-39-font-weight: 700;
  --www-amazon-com-au-inter-bold-12-39-font-size: 12.390625px;
  --www-amazon-com-au-inter-bold-12-39-letter-spacing: 0px;
  --www-amazon-com-au-inter-bold-12-39-line-height: 19px;
  --www-amazon-com-au-inter-bold-12-39-font-style: normal;
  --www-amazon-com-au-inter-regular-12-19-font-family: "Inter", Helvetica;
  --www-amazon-com-au-inter-regular-12-19-font-weight: 400;
  --www-amazon-com-au-inter-regular-12-19-font-size: 12.1875px;
  --www-amazon-com-au-inter-regular-12-19-letter-spacing: 0px;
  --www-amazon-com-au-inter-regular-12-19-line-height: 29px;
  --www-amazon-com-au-inter-regular-12-19-font-style: normal;
  --www-amazon-com-au-inter-regular-10-31-font-family: "Inter", Helvetica;
  --www-amazon-com-au-inter-regular-10-31-font-weight: 400;
  --www-amazon-com-au-inter-regular-10-31-font-size: 10.3125px;
  --www-amazon-com-au-inter-regular-10-31-letter-spacing: 0px;
  --www-amazon-com-au-inter-regular-10-31-line-height: 16.110000610351562px;
  --www-amazon-com-au-inter-regular-10-31-font-style: normal;
  --www-tiffany-com-au-inter-light-14-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-light-14-font-weight: 300;
  --www-tiffany-com-au-inter-light-14-font-size: 14px;
  --www-tiffany-com-au-inter-light-14-letter-spacing: 0px;
  --www-tiffany-com-au-inter-light-14-line-height: 23.940000534057617px;
  --www-tiffany-com-au-inter-light-14-font-style: normal;
  --www-tiffany-com-au-inter-regular-12-title-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-regular-12-title-font-weight: 400;
  --www-tiffany-com-au-inter-regular-12-title-font-size: 12px;
  --www-tiffany-com-au-inter-regular-12-title-letter-spacing: 0px;
  --www-tiffany-com-au-inter-regular-12-title-line-height: 15.960000038146973px;
  --www-tiffany-com-au-inter-regular-12-title-font-style: normal;
  --www-tiffany-com-au-inter-regular-12-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-regular-12-font-weight: 400;
  --www-tiffany-com-au-inter-regular-12-font-size: 12px;
  --www-tiffany-com-au-inter-regular-12-letter-spacing: 0px;
  --www-tiffany-com-au-inter-regular-12-line-height: 15.960000038146973px;
  --www-tiffany-com-au-inter-regular-12-font-style: normal;
  --www-tiffany-com-au-inter-semi-bold-24-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-semi-bold-24-font-weight: 600;
  --www-tiffany-com-au-inter-semi-bold-24-font-size: 24px;
  --www-tiffany-com-au-inter-semi-bold-24-letter-spacing: 0px;
  --www-tiffany-com-au-inter-semi-bold-24-line-height: 31.920000076293945px;
  --www-tiffany-com-au-inter-semi-bold-24-font-style: normal;
  --www-tiffany-com-au-inter-regular-14-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-regular-14-font-weight: 400;
  --www-tiffany-com-au-inter-regular-14-font-size: 14px;
  --www-tiffany-com-au-inter-regular-14-letter-spacing: 0px;
  --www-tiffany-com-au-inter-regular-14-line-height: 23.940000534057617px;
  --www-tiffany-com-au-inter-regular-14-font-style: normal;
  --www-tiffany-com-au-inter-regular-16-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-regular-16-font-weight: 400;
  --www-tiffany-com-au-inter-regular-16-font-size: 16px;
  --www-tiffany-com-au-inter-regular-16-letter-spacing: 0px;
  --www-tiffany-com-au-inter-regular-16-line-height: 16px;
  --www-tiffany-com-au-inter-regular-16-font-style: normal;
  --www-tiffany-com-au-inter-regular-8-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-regular-8-font-weight: 400;
  --www-tiffany-com-au-inter-regular-8-font-size: 8px;
  --www-tiffany-com-au-inter-regular-8-letter-spacing: 0px;
  --www-tiffany-com-au-inter-regular-8-line-height: 8px;
  --www-tiffany-com-au-inter-regular-8-font-style: normal;
  --www-tiffany-com-au-inter-semi-bold-23-81-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-semi-bold-23-81-font-weight: 600;
  --www-tiffany-com-au-inter-semi-bold-23-81-font-size: 23.8125px;
  --www-tiffany-com-au-inter-semi-bold-23-81-letter-spacing: 0px;
  --www-tiffany-com-au-inter-semi-bold-23-81-line-height: 31.920000076293945px;
  --www-tiffany-com-au-inter-semi-bold-23-81-font-style: normal;
  --www-tiffany-com-au-inter-semi-bold-18-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-semi-bold-18-font-weight: 600;
  --www-tiffany-com-au-inter-semi-bold-18-font-size: 18px;
  --www-tiffany-com-au-inter-semi-bold-18-letter-spacing: 0px;
  --www-tiffany-com-au-inter-semi-bold-18-line-height: 30.780000686645508px;
  --www-tiffany-com-au-inter-semi-bold-18-font-style: normal;
  --www-tiffany-com-au-inter-light-italic-14-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-light-italic-14-font-weight: 300;
  --www-tiffany-com-au-inter-light-italic-14-font-size: 14px;
  --www-tiffany-com-au-inter-light-italic-14-letter-spacing: 0px;
  --www-tiffany-com-au-inter-light-italic-14-line-height: 24px;
  --www-tiffany-com-au-inter-light-italic-14-font-style: italic;
  --www-tiffany-com-au-inter-semi-bold-14-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-semi-bold-14-font-weight: 600;
  --www-tiffany-com-au-inter-semi-bold-14-font-size: 14px;
  --www-tiffany-com-au-inter-semi-bold-14-letter-spacing: 0px;
  --www-tiffany-com-au-inter-semi-bold-14-line-height: 24px;
  --www-tiffany-com-au-inter-semi-bold-14-font-style: normal;
  --www-tiffany-com-au-inter-regular-13-5-font-family: "Inter", Helvetica;
  --www-tiffany-com-au-inter-regular-13-5-font-weight: 400;
  --www-tiffany-com-au-inter-regular-13-5-font-size: 13.5px;
  --www-tiffany-com-au-inter-regular-13-5-letter-spacing: 0px;
  --www-tiffany-com-au-inter-regular-13-5-line-height: 24px;
  --www-tiffany-com-au-inter-regular-13-5-font-style: normal;
}
